streamlit
pyyaml
dashscope
chromadb
pypdf
langchain
langchain-core
langchain-community
langchain-openai
langchain-chroma
langchain-text-splitters
langgraph
fastapi
uvicorn
langchain-milvus
pymilvus
sentence-transformers
celery
redis
python-dotenv
sqlalchemy
pymysql
python-jose
passlib[bcrypt]
python-docx
pywin32
